<html>
	<head>
		<title>Movie DB Search</title>
		<link href="/css/main.css" type="text/css" name="stylesheet" />
	</head>

	<body>
		<form action="/film" method="POST" >
			<label for="name">What movie?</label>
			<input type="text" name="name" />


			<input type="submit" />
		</form>

	</body>