<html>
	<head>

		<title>Movie DB Search</title>
		<link href="/css/main.css" type="text/css" rel="stylesheet" />
	</head>

	<body>

		<div id="menu">

			<h1>Movies Please</h1>

			<form action="/film" method="POST" >
				<label for="name">What movie?</label>
				<input type="text" name="name" />


				<input type="submit" />

			</form>

		</div>

		<div id="content">
			<%= yield %>
		</div>


	</body>
</html>
		