<html>
	<head>
		<title>Login</title>
		<link href="/css/main.css" type="text/css" name="stylesheet" />
	</head>

	<body>

		<h1> Login</h1>
		
		<form action="/" method="POST" >
			<label for="password">What's the password</label>
			<input type="password" name="password" />


			<input type="submit" />
			
		</form>

	</body>
</html>