
<html>
	<head>
		<title>Your Movie</title>

	</head>

	<body>
		<h1>Your movie's info is</h1>
		
		<ul> <strong>Principle Actors and Actresses</strong>
			<% for i in actors do %>
				<li> <%= i %></li>
			<% end %>
		</ul>
		
	</body>

</html>
