
<html>
	<head>
		<title>Your Movie</title>

	</head>

	<body>

		<div>

			<h1>Your movie's info is</h1>
			
			<ul> <strong>Principle Actors and Actresses</strong>
				<% for i in newmovie.actors do %>
					<li> <%= i %></li>
				<% end %>
			</ul>

		</div>

		<div>
			<%=newmovie.plot %>
		</div>

		<div>
			<%=newmovie.director %>
		</div>	

		<div>
			<img src=<%=newmovie.poster_url %> />
		</div>

	</body>

</html>
